/* Exercice 1 */ 
/*Q1*/
h1 {
    text-align: center;
    text-decoration: underline;
    color: red;
}
/*Q2  */
article > h2 {
    color: green;
}
/*Q3*/
h2 + p {
    color: blue;
    font-style: italic;
}
/*Q4*/
h1:first-of-type{
    box-shadow: 10px red;
}
/*Q5*/
img:last-of-type {
    border-radius: 40%;
}
/* Exercice 2 */ 
.exercice2{
    height: 280px;
    width: 280px;
    background-color: blue;
}
.exercice2:hover{
    transform: translateX(300px);
    transform: translateY(300px);
    transform: rotate(35deg);
}
.exercice2  and (max-width:670px) {
    background-color: red;
}
.exercice2 and (min-width:670px, max-width:1150px){
    background-color:green;
}
@media screen {
    .exercice2  and (max-width:670px) {
        background-color: red;
    }
    .exercice2 and (min-width:670px, max-width:1150px){
        background-color:green;
    }
}
 
/*Exercice 3*/
.header p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    font-size: 5rem;
    background-color: black;
    color: white;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
.list{
    display: flex;
    justify-content: space-between;
    font-size:20px ;
    list-style: none;
}
.main-nav-link {
    font-size:20px ;
    padding: 0 1rem;
}
.search {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.project-name{
    margin-bottom: 0px;
}
.main-nav-link .active {
   border-radius: 20px;
}
.exercice4   {
    height: 400px;
    width: 70%;
}
.exercice4  img {
    width: 500px;
    border-radius: 40%;
    
}
.img1 {
    position: relative;
    bottom: 0px;
    left: 0px;
}
.img2{
    position: relative;
    left: 500px;
}
.img3 {
    position: relative;
    left: 500px;
}
.img4{
    position: relative;
    top: 270px;
    left: 500px;
}
/* exercice 5*/
#boite {
    background-color: red;
    position: relative;
    width: 100px;
    height: 100px;   
}
@keyframes redBox {
    0%{
        #boite{
            left: 10px;
        }
    }
    50%{

    }
    100%{
        left: 400px;
    }
}