body{
  background-color:lightblue;
  text-align:center;
}

.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

img{
  /* transform: translate(-200px,200px); 
     transform: translate(-Xpx,Xpx);
     translate is used to move an element 
     we have the x axis wich is horizental
     we have also the y axis wich is vertical
                                            
                       |
                       |
    translate(-px,-px) |translate(+px,-px)
      -----------------|------------> X
    translate(-px,+px) | translate(+px,+px)
                       |
                       |
                       Y
    */
  /* 
  transform: scaleX(3); 
  It is stretched along the X axis
  */
  /*
  It is shrinked along the X axis
  */
  /*IT IS USED TO SHRINK OR STRETCH AN ELEMENT*/
  /* transform: rotate(-90deg) translateY(200px) scale(2); */
}
.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background 1s, transform 1s 5s ease-in ;
}
.circle:hover {
  background:salmon;
  transform:rotateZ(360deg);
}